

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --menu-items-color: rgb(90, 55, 51);
    --main-container-text-color: rgb(235, 109, 47);
    --main-tittle-color: rgb(90, 55, 51);
    --main-content-text: rgb(65, 57, 57);
    --form-title-color: blue;
  }