.wrapper {
  margin: 0 0 0 30%;
}


table {
    width: 30%; 
    border-color: black;
    border-collapse: collapse;
  }
  
  tr, th, td {
    width: 50px; 
    height: auto; 
    text-align: center; 
  }
  